nav {
    border: 3px solid rgb(104, 80, 241);
    border-radius: 5px;
}

.inline-banner {
    display: inline-block;
    width: 15%;
}
h1.inline-banner {
    width: 60%;
    background-color: orange;
    float: left;
}

.movie-list {
    display: flex;
    flex-direction: column;
}

footer {
    border: 3px solid black;
    background-color: yellow;
    height: 200px;
    display: flex;
}