nav {
    border: 3px solid rgb(104, 80, 241);
    border-radius: 5px;
}

.inline-banner {
    display: inline-block;
    width: 15%;
}
h1.inline-banner {
    width: 60%;
    background-color: orange;
    float: left;
}

#BestMovie {
    border: 3px solid black;
    background-color: teal;
    height: 200px;
}

section {
    border: 3px solid black;
    display: flex;
    justify-content: space-around;
    height: 200px;
}

section.div {
    display: inline-flex;
}
footer {
    border: 3px solid black;
    background-color: yellow;
    height: 200px;
    display: flex;
}